/shelf/
/workspace.xml

__pycache__/
*.py[cod]
*$py.class

env/
envs/
venv/
.conda/
*.conda

conda-meta/
pkgs/

build/
dist/
*.spec

.ipynb_checkpoints

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

*.log
*.tmp
*.temp

.pytest_cache/
.coverage
